# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.xrMaking.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Apps\Unity\Unity WorkSpace\xrMaking\.idea\.idea.xrMaking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
